body{
    background-color:whitesmoke;
}


.arkaplanım{
    background-color: whitesmoke;
}
#pınar{

    background-image: url(background.jpeg);
    background-position: right bottom;
    padding: 10px;
    background-size: 100%;
}