body{
    background-color:whitesmoke;
}


.arkaplanım{
    background-color: whitesmoke;
}
#pınar{
    background-color: black;
    background-image: url(arkaplan.jpg);
    background-position: right bottom;
    padding: 10px;
    background-size: 100%;
}